body {
    font-family: Arial, serif;
    font-size: 14px;
}

input[type='text'], input[type='number'] {
    font-family: monospace;
}

.label-column {
    margin: 0.5rem 0;

    font-size: 1.25rem;
    font-weight: bold;
}

.input-line {
    margin-bottom: 0.5rem;
}

.content-wrapper {
    max-width: 600px;
    margin: auto;
}

form label {
    width: 5rem;
    display: inline-block;

    text-align: right;
}

.tab-content {
    padding: 0.7rem;
}

.output {
    margin-left: 1rem;
}

.output pre {
    margin: 0;
}

/* Tabs */
ul.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    overflow: auto;
}

ul.tabs li {
    margin: 0;
    flex: 1;
    display: flex;
    align-content: stretch;
    cursor: pointer;
    padding: 0.25rem 0.5rem;

    border-top: 1px solid #ddd;
    background-color: #c1c1c1;

    color: #6c6d6c;
    font-size: 0.8rem;
}

ul.tabs li:first-child {
    border-radius: 0.5rem 0 0 0;
    border-left: 1px solid #ddd;
}

ul.tabs li:last-child {
    border-right: 1px solid #ddd;
    border-radius: 0 0.5rem 0 0;
}

ul.tabs li:hover {
    background-color: #ccc;
    color: #ddd;
}

ul.tabs li.active {
    background-color: #fff;
    color: #000;
}

.tab-container {
    border: 1px solid #dddddd;
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;

    background: #fff;
}

.tab-content {
    display: flex;
}

.tab-content:not(.active) {
    display: none;
}
